# name: Deployment to Production

# on:
#   push:
#     tags:
#       - 'v*'
#   workflow_dispatch: 

# env:
#   SERVICE_NAME: prod-pasaporte-vacuna-backend
#   REGION: us-east1
#   PROJECT_NAME: pasaporte-vacuna
#   REGISTRY_BASE: us-east1-docker.pkg.dev/${{ secrets.PROJECT_ID }}

# jobs:
#   build:
#     runs-on: ubuntu-latest
#     steps:
#       - name: Inject slug/short variables
#         uses: rlespinasse/github-slug-action@v3.x

#       - name: Set up Docker Buildx
#         uses: docker/setup-buildx-action@v1

#       - name: Login to GAR
#         uses: docker/login-action@v1
#         with:
#           registry: ${{ env.REGISTRY_BASE }}
#           username: _json_key
#           password: ${{ secrets.GCP_SA_JSON_KEY }}
          
#       - name: Build and push
#         id: docker_build
#         uses: docker/build-push-action@v2
#         with:
#           push: true
#           tags: ${{ env.REGISTRY_BASE }}/${{ env.PROJECT_NAME }}/${{ env.SERVICE_NAME }}:${{ github.sha }}
#       - name: Image digest
#         run: echo ${{ steps.docker_build.outputs.digest }}

#   deploy:
#     needs: ['build']
#     runs-on: ubuntu-latest
#     steps:
#       - uses: actions/checkout@v2

#       - name: Setup env
#         env:
#           IMAGE: ${{ env.REGISTRY_BASE }}/${{ env.PROJECT_NAME }}/${{ env.SERVICE_NAME }}:${{ github.sha }}
#           SERVICE_NAME: ${{ env.SERVICE_NAME }}
#           NODE_ENV: production
#           REGION: ${{ env.REGION }}
#           CPU: 2000m
#           MEMORY: 1024Mi
#           maxScale: '100'
#           minScale: '10'
#           containerConcurrency: 100
#           ingress: internal-and-cloud-load-balancing
#           DB_PORT: ${{ secrets.DB_PORT }}
#           DB_READ_PASS: ${{ secrets.DB_READ_PASS }}
#           DB_USER: ${{ secrets.DB_USER }}
#           DB_NAME: ${{ secrets.DB_NAME }}
#           DB_CONNECTION_READ: ${{ secrets.DB_CONNECTION_READ }}
#           DB_CONNECTION_WRITE: ${{ secrets.DB_CONNECTION_WRITE }}
#           EMAIL_KEY: ${{ secrets.EMAIL_KEY }}
#           ENCRYPTION_KEY: ${{ secrets.ENCRYPTION_KEY }}
#           PASS_PHRASE_WALLET: ${{ secrets.PASS_PHRASE_WALLET }}
#           SENDGRID_EMAIL: ${{ secrets.SENDGRID_EMAIL }}
#           THROTTLE_LIMIT: ${{ secrets.THROTTLE_LIMIT }}
#           THROTTLE_TTL: ${{ secrets.THROTTLE_TTL }}
#           TOKEN_CENTROSVAC: ${{ secrets.TOKEN_CENTROSVAC }}
#           API_CENTROSVAC: ${{ secrets.API_CENTROSVAC }}
#           CORS_ORIGIN: ${{ secrets.CORS_ORIGIN }}
#           SECRET_JWT: ${{ secrets.SECRET_JWT }}
#           USERS: ${{ secrets.USERS }}
#           URL_FRONTEND: ${{ secrets.URL_FRONTEND }}
#           VPC_ACCESS_CONNECTOR: projects/${{ secrets.PROJECT_ID }}/locations/us-east1/connectors/vpc-us-east1
#         run: eval "echo \"$(cat service.yaml)\"" > service.yaml

#       - id: deploy
#         uses: google-github-actions/deploy-cloudrun@main
#         with:
#           metadata: service.yaml
#           credentials: ${{ secrets.GCP_SA_JSON_KEY }}
#           region: ${{ env.REGION }}

#       - id: test_url
#         run: curl "${{ steps.deploy.outputs.url }}"
